@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}
button {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height:19.5px ;
    text-align: center;
    color:  #FFFFFF;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.button-pink {
    background-color: #D10096;
    color: #E5E5E5;
    font-size: 16px;
    border: 0;
}
.button-pink  {
    display: flex;
}
.button-pink img {
    margin-left: 20px;
}
.button-transparent {
    background: transparent;
    border-color: #FFFFFF;
    // border: 2px;
}
.button-blue {
    background-color:var(--2-f-0883, #2F0883);
}
.button-transparent-blue {
    background: transparent;
    border-color: #2F0883;
    color: #2F0883;
}
// .subscribe {
//     .button-subscribe {
//         font-family: 'Montserrat';
//         font-weight: 700;
//         font-size: 16px;
//         line-height:19.5px ;
//         text-align: center;
//         color: #2F0883;
//         padding: 20px 50px 20px 50px;
//         border-radius: 50px;
//         text-transform: uppercase;
//         text-align: center;
//         cursor: pointer;
//         background:#FFFFFF;
//     }
//     .field {
//         font-family: Montserrat;
//         color: #FFF;
//         font-size: 16px;
//         font-style: normal;
//         font-weight: 500;
//         line-height: normal;
//         background: transparent;
//         border: 2px solid;
//         border-radius: 50px;
//         border-color: #FFF;
//         padding: 20px 36px 20px 36px;
//         margin-right: 36px;
//         width: 300px;
//     }
// }
h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px ;
    // text-align: center;
    color:  #11042D;
}
.icons {
    display: flex;
    gap: 36px;
    .icon {
        width: 48px;
        height: 48px;
        color: rgba(255, 255, 255, 0.20);
        background: transparent;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
    }
}
.wrapper {
    display: flex;
    gap: 78px;
    flex-wrap: wrap;
    justify-content: center;
    .element {
        width: 388px;
        height: 389px;
        .element-img {
            background-image: url('../img/image 34.png');
            width: 360px;
            height: 220px;
            margin-left: 28px;
        }
        .blue-background-h {
            width: 296px;
            height: 90px;
            background-color: #2F0883;
            margin-top: -40px;
            h1{
                font-family: Montserrat;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: #FFFFFF;
                padding-left: 28px;
                padding-top: 18px;
            }
        }
        .text {
            margin-top: 22px;
            margin-left: 28px;
            img {
                width: 16px;
                height: 16px;
            }
            p {
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                color: #11042D;
                margin-bottom: 22px;
            }
            .date {
                display: flex;
                gap: 18px;
                p {
                    color: var(--11042-d, #11042D);
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.header {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 50px;
    padding-right: 60px;
    justify-content: space-between;
    ul {
        display: flex;
        gap: 3.5vw;
    }
    a {
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        line-height:27px ;
        color:  #FFFFFF;
    }
    a:hover {
        font-weight: 700;
    }
    .mobile-icons {
        display: none;
    }
}
.header-main {
    background-image: url('../img/Rectangle 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 72px;
        line-height:87.77px ;
        text-align: center;
        color:  #FFFFFF;
        margin-top: 122px;
        margin-bottom:40px;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .buttons {
            display: flex;
            gap: 2vw;
            margin-bottom: 40px;
        }
        .arrows {
            margin-bottom: 50px;
            margin-top: 144px;
        }
    }
}
.about {
    background-image: url('../img/19366 1.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 223px;
    .text {
        margin-left: 60px;
        margin-top: 30px;
        margin-right: 20px;
        h2 {
            max-width: 762px;
        }
        p {
            max-width: 712px;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 22px;
            line-height: 27px ;
            color:  #11042D;
            margin-top: 48px;
            margin-bottom: 48px;
            line-height: normal;
        }
    }
    img {
        max-width: 598px;
    }
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -123px;
    h2 {
        margin-bottom: 64px;
    }
    .swiper {
        width: 100%;
        position: relative;
    }
    .swiper-slide {
        height: 802px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-swiper {
        display: flex;
        justify-content: flex-end;
        gap: 48px;
        width: 120px;
        position: absolute;
        right: 60px;
        bottom: 106px;
        z-index: 2;
    }
    .swiper-button-prev-new {
        content: url('/img/but-next.png');
        cursor: pointer;
        transform: rotate(180deg);
        opacity: 0.5;
    }
    .swiper-button-next-new {
        content: url('/img/but-next.png');
        cursor: pointer;
        opacity: 0.5;
    }
    .swiper-button-prev-new:hover {
        opacity: 1;
        transition: all 0.2s ease-out;
    }
    .swiper-button-next-new:hover {
        opacity: 1;
        transition: all 0.2s ease-out;
    }
    .pagination {
        a {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-decoration: none;
        }
        img {
            margin-left: 24px;
            margin-right: 24px;
        }
        a.active {
            font-weight: 700;
          }
    }
    .swiper-pagination-bullet { 
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        color: #FFF;
        opacity: 1;
        width: auto;
        background: transparent;
        border: 1px solid;
        width: 8px;
        height: 8px;
    }
    .swiper-pagination-bullet-active {
        font-weight: 700;
        background-color: #FFF;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 20px;
    }
    .background-projects {
        background-image: url('../img/Rectangle 85.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 620px;
        width: 92%;
        display: flex;
        align-items: flex-end;
        .blue-background {
            width: 750px;
            height: 305px;
            background: var(--2-f-0883, #2F0883);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 60px;
            margin-bottom: -182px;
            .text {
                p {
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 18px;
                    color:  #11042D;
                    max-width: 630px;
                    margin-bottom: 18px;
                    line-height: 150%;
                    color: var(--ffffff, #FFF);
                }
                .pink-text {
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 18px;
                    color:   #FF65D4;
                    line-height: normal;
                    margin-bottom: 18px;
                    padding-top: 36px;
                }
                h2 {
                    font-size: 36px;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                    color: var(--ffffff, #FFF);
                    max-width: 679px;
                    margin-bottom: 18px;
                }
            }
        }
    }   
}
.founders {
    background-image: url('../img/19366 1.png');
    padding-top: 50px;
    padding-bottom: 100px;
    h2 {
        text-align: center;
        margin-bottom: 64px;
    }
    .conteiner-founders {
        display: flex;
        justify-content: center;
        gap: 64px;
        flex-wrap: wrap;
        .founder {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 536px;
            height: 232px;
            background-color: var(--ffffff, #FFF);
            .avatar  {
                width: 160px;
                height: 160px;
            }
            .text {
                margin-left: 48px;
                h1 {
                    font-family: 'Montserrat';
                    font-weight: 700;
                    font-size: 28px;
                    line-height:normal;
                    color: var(--11042-d, #11042D);
                }
                p {
                    font-family: 'Montserrat';
                    font-weight: 500;
                    font-size: 28px;
                    line-height:150%; 
                    color:  var(--11042-d, #11042D);
                    margin-bottom: 18px;
                    margin-top: 18px;
                }
            }
            .icons {
                display: flex;
                gap: 28px;
                .icon {
                    width: 48px;
                    height: 48px;
                    color: rgba(17, 4, 45, 1);
                    background: transparent;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid;   
                }
            }
        }
    }
}
.experience {
    display: flex;
    justify-content: center;
    .blue-background-img {
        width: 90%;
        height: 547px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        background-image: linear-gradient(to right, rgba(47, 8, 131, 0.8), rgba(47, 8, 131, 0.8)),
        url('../img/Rectangle 85.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h2 {
            color: var(--white, #FFF);
        }
        p {
            color: var(--white, #FFF);
            font-family: Montserrat;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 22px;
        }
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 64px;
            margin-bottom: 64px;
            margin-top: 64px;
            .money {
                color: var(--ffffff, #FFF);
                font-family: Montserrat;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }
            .money span {
                font-weight: 600;
            }
            .backers {
                color:  #FDB513;
                font-family: Montserrat;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                display: flex;
                gap: 21px;
                align-items: center;
            }
        }
    }
}
.blog {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
    background-image: url('../img/19366 1.png'); 
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin-bottom: 64px;
    }
    button {
        margin-top: 64px;
    }
}
.footer {
    background-color: #2F0883;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: center;
    .content-center{
        max-width: 1320px;
        width: 90%;
        hr {
            margin-top: 36px;
            margin-bottom: 36px;
            border-top: 2px solid #FFFFFF;
            opacity: 0.1;
        }
        .container {
            display: flex;
            justify-content: space-between;;
            align-items: center;
            .logo-icon {
                display: flex;
                align-items: center;
                .icons {
                    margin-left: 64px;
                }
            }
            .subscribe {
                .button-subscribe {
                    font-family: 'Montserrat';
                    font-weight: 700;
                    font-size: 16px;
                    line-height:19.5px ;
                    text-align: center;
                    color: #2F0883;
                    padding: 20px 50px 20px 50px;
                    border-radius: 50px;
                    text-transform: uppercase;
                    text-align: center;
                    cursor: pointer;
                    background:#FFFFFF;
                }
                .field {
                    font-family: Montserrat;
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    background: transparent;
                    border: 2px solid;
                    border-radius: 50px;
                    border-color: #FFF;
                    padding: 20px 36px 20px 36px;
                    margin-right: 36px;
                    
                }
                input::placeholder {
                    min-width: 300px;
                }
                // input {
                //     max-width: 300px;
                // }
            }
        }
        .text {
            display: flex;
            justify-content: space-between;
            p {
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                color: #FFFFFF;
                span {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                } 
            }
            a {
                color: #FFFFFF;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; 
                text-decoration-line: underline;
                margin-left: 36px;
            }
        }
    }
}
.header-blog {
    background-image: url('../img/Rectangle 111.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 221px;
    h2 {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        margin-top: 132px;
        text-align: center;            
    }
}
.blog-slider {
    padding-top: 100px;
    padding-bottom: 100px;
}
.header-full-post {
    padding-top: 11px;
    padding-bottom: 61px;
    background-color: #2F0883;   
}
.post {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    .content-center {
        max-width: 1320px;
        .post-img {
            background-image: url('../img/image 34.png');
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 1320px;
            height: 500px;
        }
        .tittle-date {
            display: flex;
            justify-content: space-between;
            .blue-background-h {
                width: 597px;
                height: 124px;
                background-color: #2F0883;
                margin-top: -40px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    color: #FFFFFF;
                    font-family: Montserrat;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal; 
                    // padding-top: 28px;
                    // margin-left: 48px;
                    max-width: 501px;
                }
            }
            .date {
                display: flex;
                align-items: center;
                gap: 18px;
                margin-right: 40px;
                img {
                    width: 22px;
                    height: 22px;
                }
                p {
                    text-transform: uppercase;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    color:#11042D;
                }
            }
        }
        .text {
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 180%;
            color: #11042D;
            margin-top: 48px;
            margin-bottom: 48px;
            span {
                font-family: Montserrat;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 180%;
                color: #11042D;
            }
        }
        .button-transparent-blue {
            display: flex;
            img {
                margin-right: 36px;
            }
        }
    }
}
.header-about {
    background-image: url('../img/Rectangle 1-about.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 221px;
    h2 {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        margin-top: 132px;
        text-align: center;            
    }
}
.about-text {
    background-image: url('../img/19366 1.png');
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    .about-page-about{
        padding-bottom: 64px;
        span {
            font-family: Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #11042D;
        }
    }
    .about-page-text {
        max-width: 1180px;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #11042D;
        margin-left: 60px;
    }
    .about-advantages {
        margin: auto;
        h2 {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 64px;
        }
        .wrapper-advantages {
            display: flex;
            gap: 42px;
            flex-wrap: wrap;
            justify-content: center;
            .wrapper-advantages-elem {
            width:  412px;
            height: 302px;
            background: linear-gradient( rgba(235, 249, 255, 0.4), rgba(247, 245, 255, 0.4));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
                p {
                    max-width: 340px;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    color: #11042D;
                }
                h1 {
                    font-family: Montserrat;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: #11042D;
                    margin-top: 30px;
                    margin-bottom: 16px;
                }
            }
            .wrapper-advantages-elem:hover {
                background: #FFFFFF;
                box-shadow: 0px 16px 48px 0px rgba(17, 3, 45, 0.03); 
            }
        }
    }
}
.our-story {
    padding-bottom: 50px;
    padding-top: 50px;
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
    .wrapper-story {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        hr {
            width: 80px;
            height: 4px;
            background-color: #2F0883;
           
        }
        // img {
        //     width: 80px;
        //     height: 4px;
        // }
        .wrapper-story-elem {
            display: flex;
            height: 150px;
            .text {
                text-align: center;
                width: 150px;
                h1 {
                    font-family: Montserrat;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-transform: uppercase;
                    color: #2F0883;
                    margin-bottom: 25px;
                }
                p {
                    font-family: Montserrat;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    color: #2F0883;
                }
                hr {
                    background-color: #2F0883;
                }
            }
        }
        .wrapper-story-elem-gray {
            hr {
                    
                background-color: #2D2E36;
            }
            .text {
                h1 {
                    color: #11042D;
                }
                p {
                    color: #11042D;
                }
               
            }
        }
    }
}
.header-crowdfanding {
    background-image: url('../img/Rectangle 1-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    .blue-background-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 135px;
        h2 {
            color: var(--white, #FFF);
        }
        p {
            color: var(--white, #FFF);
            font-family: Montserrat;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 22px;
        }
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 64px;
            margin-bottom: 64px;
            margin-top: 64px;
            .money {
                color: var(--ffffff, #FFF);
                font-family: Montserrat;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }
            .money span {
                font-weight: 600;
            }
            .backers {
                color:  #FDB513;
                font-family: Montserrat;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                display: flex;
                gap: 21px;
                align-items: center;
            }   
        }
        .button-pink  {
            display: flex;
        }
        .button-pink img {
            margin-left: 20px;
        }
    }
}
.crowdfanding-experience {
    background-image: url('../img/19366 1.png');
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 88px;
    padding-top: 100px;
    padding-left: 60px;
    h2 {
        max-width: 1094px;
    }
    .text-img {
        display: flex;
        margin-top: 104px;
        gap: 48px;
        // .img-smile {
        //     max-width: 604px;
        //     max-height: 604px;
        // }
        .text {
            max-width: 650px;
            p {
                font-family: Montserrat;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%;
                color: #11042D;
            }
            a {
                font-family: Montserrat;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: #11042D;
                text-decoration: none;
                display: flex;
                align-items: center;
                margin-top: 48px;
                img {
                    width: 30px;
                    height: 30px;
                    margin-left: 36px;
                }
            }   
        }  
    }
}
.mojipic {
    padding-bottom: 64px;
    hr {
        border-top: 1px solid #11042D; 
        opacity: 0.1; 
        margin-top: 70px;
    }
    .mojipic-emoji {
        background-image: url('../img/Rectangle 85.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 329px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            color: #FFFFFF;
        }
        p {
            font-family: Montserrat;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #FFFFFF;
            margin-top: 36px;
            opacity: 0.9;
        }
    }
    .text {
        display: flex;
        max-width: 1320px;
        justify-content: space-between;
        margin: auto;
        margin-top: 74px;
        h1 {
            font-family: Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #11042D;
        }
        p {
            max-width: 762px;
            font-family: Montserrat;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; 
            color: #11042D;
            span {
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}
.mojipic-blue-back {
    background-image: url('../img/Rectangle 1-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 188px;
    max-width: 1320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}
.header-startups {
    background-image: url('../img/Rectangle 1-star.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 221px;
    h2 {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        margin-top: 132px;
        text-align: center;            
    }
}
.startups {
    padding-bottom: 100px;
    .text {
        display: flex;
        max-width: 1320px;
        justify-content: space-between;
        margin: auto;
        margin-top: 74px;
        h1 {
            font-family: Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #11042D;
        }
        p {
            max-width: 987px;
            font-family: Montserrat;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; 
            color: #11042D;
            margin-bottom: 100px;
        }
        .wrapper-img {
            display: flex;
            flex-wrap: wrap;
            gap: 86px;
            justify-content: space-around;
            max-width: 987px;
            .wrap-elem {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 80px;
                    height: 80px;
                }
                h1 {
                    max-width: 380px;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: #11042D;
                }
            }
            .wrap-elem-t {
                h1 {
                    max-width: 271px;
                }
            }
        }
    }
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
        text-align: center;
        margin-bottom: 64px;
    }
    .form {
        max-width: 1088px;
        .name-email-sub {
            display: flex;
            gap: 58px;
            justify-content: center;
            margin-bottom: 64px;
        }
        .message-box {
            margin-bottom: 64px;
        }
        .input-box {
            .placeholder-font {
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            color: #2D2E36;
            }
            input {
                border: none;
                border-bottom: 2px solid;
                border-color: #11042D 0.1;
                width: 320px;
                padding-bottom: 17px;
                background: none;
                }
            input:focus{
                outline: none;
                border-bottom: 4px solid;
                color: #D10096;
                font-weight: 700;
            }
            textarea {
                border: none;
                background: none;
                border-bottom: 2px solid;
                width: 1088px;
                padding-bottom: 55px;
            }
            textarea:focus {
                outline: none;
                border-bottom: 4px solid;
                color: #D10096;
                font-weight: 700;
            }
        }
        .button {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.patents {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
    .text {
        justify-content: space-between;
        display: flex;
        max-width: 1208px;
        h2 {
            max-width: 343px;
        }
        .p-and-download-doc {
            max-width: 650px;
            p {
                font-family: Montserrat;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 160%;
                color: #11042D;
                margin-bottom: 49px;
            }
            a {
                font-family: Montserrat;
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: #2F0883;
                text-decoration: none;
                display: flex;
                img {
                    width: 36px;
                    height: 36px;
                    margin-right: 36px;
                }
            }
            
        }
    }
    hr {
        border-top: 1px solid #11042D; 
        opacity: 0.1; 
        margin-top: 100px;
        margin-bottom: 100px; 
        margin-left: -60px;
    }
}
@media (max-width: 1300px) {
    .startups .text {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 15px;
        margin-left: 15px;
    }
    .startups .text h2 {
        margin-bottom: 30px;
    }
    .crowdfanding-experience {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .crowdfanding-experience .text-img .text a {
        justify-content: center;
    }
    .crowdfanding-experience .text-img .img-smile {
        display: none;
    }
    .mojipic {
        text-align: center;
    }
    .mojipic .text {
        flex-direction: column;
        align-items: center;
    } 
}
@media (max-width: 1200px) {
    .about {
        padding-top: 50px;
        justify-content: center;
        text-align: center;
        img {
        display: none;
        }
        .text {
            margin-left: 0;
        }
    }
    .footer {
        .content-center {
            .container {
                flex-direction: column;
                gap: 15px;
            }
            .text {
                flex-direction: column;
                align-items: center;
                p {
                    text-align: center;
                }
            }
        }
    }
    .experience {
        .blue-background-img {
            .text {
               gap: 14px;
               flex-direction: column;
            }   
        }
    }
    .contacts {
       text-align: center;
    }
    .contacts .form .input-box textarea {
       width: 350px;
        
    }
    .contacts .form .input-box input {
        width: 350px;
    }
    .contacts .form .name-email-sub {
        flex-direction: column;
        align-items: center;
    }
    .contacts .form .button {
        flex-direction: column;
        gap: 30px;
    }
    .startups .text .wrapper-img {
        gap: 36px;
        flex-direction: column;
    }
    .header-crowdfanding .blue-background-img .text {
        flex-direction: column;
    }
    .projects .background-projects .blue-background {
        margin-left: 0; 
        margin-bottom: 0; 
        padding-right: 10px;
        padding-left: 10px;  
    }
    .projects .swiper-pagination-bullet {
        display: none;
    }
    .projects .background-projects .blue-background .text h2 {
        font-size: 28px;
    }
}
@media (max-width: 1000px) {
    .noactive {
        overflow: hidden;
    }
    .header {
        .mobile-icons {
            display: flex;
            justify-content: center;
            margin-top: 36px;
        }
    }
    .header-main {
        display: flex;
        flex-direction: column;
    }
    .contacts {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:3;
        overflow: hidden;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 7px);
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: linear-gradient(0deg, rgba(47, 8, 131, 0.50) 0%, rgba(47, 8, 131, 0.50) 90%), url('../img/Rectangle 1.png'), lightgray 50% / cover no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateX(-100%);
        transition: transform 0.5s; 
        overflow-y: auto;
    }
    .menu.active {
        transform: translateX(0);
        z-index: 2;
    }
    .menu li {
        list-style-type: none;
    }
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }
    .header ul {
        gap: 6vw;
        flex-direction: column;
        align-items: center;
        padding-top: 200px;
        font-size: 30px;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        color: #FFF;
    }
    .about-text .about-page-text {
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }
    .header-full-post {
        padding-top: 0;
    }
    .post .content-center {
        text-align: center;
    }
    .post .content-center .tittle-date {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .patents { 
        padding-left: 0;
    }
    .patents .text {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .patents .text .p-and-download-doc a {
        justify-content: center;
    }
    .patents .text h2 {
        margin-bottom: 30px;
    }
    
}
@media (max-width: 800px) {
    h2 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 35px;
        line-height: 58px;
        color:  #11042D;
    }
    .header-main h1 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 45px;
        line-height: 87.77px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 122px;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .about .text {
        margin-left: 10px;
    }
    .header-blog h2 {
        font-size: 45px;
    }
    .header-about h2 {
        font-size: 45px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width: 720px) {
    .footer {
        .content-center {
            .container {
                .subscribe {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    .field {
                        margin-right: 0;
                        
                    }
                    .button-subscribe { 
                        width: 281px;
                    }
                }
            }
        }
    }
    .header-main .content .buttons {
        flex-direction: column;
    }
    .founders .conteiner-founders .founder .text {
        margin-left: 28px;
        text-align: center;
    }
    .experience {
        .blue-background-img {
            padding-left: 10px;
            padding-right: 10px;
            p {
                font-size: 23px;
            }
            .text {
                margin-bottom: 32px;
                margin-top: 32px;
                .backers {
                color: #FDB513;
                font-family: Montserrat;
                font-size: 28px;
                }
                .money {
                    font-size: 28px;
                }
            }
        }
    } 
    .post .content-center .tittle-date .blue-background-h h1 {
        font-size: 23px;
    }
    .post .content-center .tittle-date .blue-background-h {
        width: 400px;
    }
    .header-crowdfanding .blue-background-img .text .money {
        font-size: 28px;
    }
    .header-crowdfanding .blue-background-img .text .backers {
        font-size: 28px;
    }
    .header-crowdfanding {
        text-align: center;
    }
}
@media (max-width: 480px) {
    
}

            



